<% @movie.reviews.select(&:persisted?).each do |review| %>
  <div>
    <strong>Review:</strong>
    <%= review.review %>
    <% if review.user_id == current_user.id %>
      <%= link_to 'Edit', edit_movie_review_path(@movie, review) %>
      <%= link_to 'Destroy', [@movie, review], method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
