<h1 class="text-center ">Editing Movie</h1>

<%= render 'form' %>
<div class="wrapper container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <%= link_to 'Show', @movie, method: "get",class: 'btn btn-success' %>
      <%= link_to 'Back', movies_path, method: "get", class: 'btn btn-info' %>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
