<div class='container'>
  <h1 class='text-center'>Movies</h1>
  <div class='container-fluid'>
    <div class='row'>
      <% @movies.each do |movie| %>
        <div class='col-md-3' class='index-movie-alignment'>
          <%= link_to movie, class: 'movie-anchor' do %>
            <%= image_tag movie.first_poster.image.url(:medium), class: 'movie-img' %>
          <% end %>
          <div class='movie-title-alignment'>
            <strong><%= movie.title %></strong>
          </div>
        </div>
      <% end %>
    </div>

    <div class='margin-down'>
      <%= link_to 'New Movie', new_movie_path, class: 'btn btn-info' %>
    </div>
  </div>
</div>
