<%= form_tag movies_path, method: :get, class: 'form-inline' do %>
  <div class='form-group'>
    <%= text_field_tag :title, params[:title], class:'form-control', placeholder: 'Search Movies' %>
    <%= submit_tag 'Search', class: 'btn btn-info'%>
  </div>
<% end %>
